body
{
    background-color: rgb(228, 228, 150);
}

h2, h4 {
    color:rgb(255, 136, 0);
    font-style: italic;
    font-weight:bold;

}

h1, h3 { 
    text-align: center;
color:brown
}


.green {
    color:green;
    text-align: right;
  }
